body {
	margin:0;
	padding:0;
	font-family:tahoma;
}
.middle {
	width:90%;
	margin: 0 auto;
}

/* Header Social Area */

.social-login {
	background:#FBFAF6;
	overflow:hidden;
	padding:10px 0;
}
.social-icons {
	float:left;
	width:60%;
	overflow:hidden;
}
.social-icons i {
	color:#B3B3B3;
	width:20px;
	height:20px;
	box-sizing:padding-box;
	text-align:center;
	font-size:10px;
	background:#FBFAF6;
	padding:5px 0;
	border-radius:50%;
	border:1px solid #E7E7E5;
	
}
.social-icons i:hover {
	background:#F7A400;
}
.login {
	width:40%;
	overflow:hidden;
}
.login ul {
	float:right;
	list-style:none;
	margin:0;
	padding:0;
}
.login ul li {
	float:left;
}
.login ul li:after {
	content: '/';
	color:#7d7c7c;
	font-size:13px;
	margin:0 3px;
}
.login ul li:last-child:after {
	content:'';
}
.login ul li a {
	text-decoration:none;
	color:#7d7c7c;
	text-transform:uppercase;
	font-size:13px;
}

/* Header Logo */

.logo-area {
	background:#FFFFFF;
	overflow:hidden;
	padding:13px 0;
}
.logo {
	width:30%;
	float:left;
}
.logo img {
	height:60px;
	width:60px;
}
.banner {
	float:right;
	width:70%;
}
.banner p {
	border: 1px solid #E1E1E1;
    color: #B4B4B4;
    float: right;
    height: 25px;
    padding: 20px;
    width: 448px;
	margin:0;
	text-align:center;
}

/* Header Menu */

.header-menu {
	background:#ffffff;
	overflow:hidden;
	border-top:2px solid #EFEFEF;
	border-bottom:2px solid #EFEFEF;
}
.main-menu {
	width:90%;
	float:left;
}
.main-menu ul {
	list-style:none;
	margin:0;
	padding:0;
}
.main-menu ul li{
	float:left;
}
.main-menu ul li a{
	color:#7C7C7C;
	text-decoration:none;
	display:block;
	text-transform:uppercase;
	padding:15px 20px;
	font-size:14px;
}
.main-menu ul li a:hover, .main-menu ul li.active{
	background:#F7A400;
	color:#ffffff;
}
.search i {
	color:#7C7C7C;
	text-align:center;
	padding:15px 0;
	margin:0;
}

/* Background Image Area */

.big-image {
	background:url('images/backgroundsmall.png') no-repeat rgba(0,0,0,.4);
	width:100%;
	height:150px;
}

/* Sinpost Area */
.both-area {
	margin-top:50px;
}
.sinpost-area {
	width:70%;
	float:left;
	margin:0;
	padding:0;
	overflow:visible;	
}
.sinpost-title h3 {
	font-size:30px;
	color:#030303;
}
.sinpost-time {
	color:#CECECE;
	font-size:19px;
}
.sinpost-text {
	
}
.sinpost-text p {
	color:#989898;
	line-height:25px;
	padding-right:20px;
}
.sinpost-text span {
	color:#F6A90F;
	font-style:italic;
	text-align:center;
}
.sinpost-text img {
	float:right;
}
.post-author {
  border: 1px solid #e1e1e1;
  height: 177px;
  padding: 55px 0 25px;
  width: 848px;
}
.post-author h3 {
	text-align:center;
	text-transform:uppercase;
	margin-top:-8px;
	padding:0;
	color:#030303;
}
.author-details {
	width:70%;
	float:right;
	margin-right:10px;
}
.author-details h4 {
	text-transform:uppercase;
	color:#F7A400;
	margin:8px 0  0  0;
}
.author-details p {
	color:#7D7D7D;
}
.post-author img {
	width:30%;
	border: 7px solid #f6a300;
	float: left;
	height: 135px;
	margin-left: 50px;
	width: 135px;
}
.post-share {
	width:100%;
	height:50px;
	width:848px;
	margin-top:25px;
	border:1px solid #e1e1e1;
	padding-bottom:10px;
	overflow:visible;
}
.post-share-title {
	width:30%;
	float:left;
	overflow:hidden;
}
.post-share-icon {
	width:70%;
	float:right;
	overflow:visible;
}
.post-share-title h4 {
	margin-left:50px;
	color:#F7A400;
	text-transform:uppercase;
	font-size:15px;
	padding:0;
}
.post-share-icon ul {
	list-style:none;
	margin-left:100px;
	padding:0;
}
.post-share-icon ul li {
	float:left;
	margin-right:45px;
	position:relative;
}
.post-share-icon ul li:last-child {
	margin:0;
}
.post-share-icon > ul > li > i {
	text-decoration:none;
	font-size:16px;
	color:#B4B4B4;
	display:block;
	width:30px;
	padding:7px 0;
	border-radius:50%;
	text-align:center;
	border:1px solid #9D9D9D;
}
.post-share-icon ul li i:hover {
	color:#F6A300;
	cursor:pointer;
}
/* Hover Social */

.post-share-icon > ul > li > span.tool-tip {
	background: red none repeat scroll 0 0;
	left: 0;
	position: absolute;
	top: 45px;
	padding: 5px 12px;
	border-radius: 4px;
	display:none;
	-moz-transform:2s;
	transform:2s;
	
}
.post-share-icon > ul > li > span.tool-tip span.angle{
	border-bottom: 10px solid red;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	left: 5px;
	position: absolute;
	top: -8px;
}

.post-share-icon > ul > li:hover span.tool-tip{display:block;}

/* Fetured Sidebar */

.fetured-sidebar {
	width:30%;
	margin:0;
	padding:0;
	float:right;
	overflow:hidden;
}
.author-area {
	width:300px;
	height:300px;
	float:right;
	border:1px solid #E1E1E1;
	text-align:center;
	margin:0;
	padding:0;
}
.author img {
	height:100px;
	width:100px;
	border-radius:50%;
	margin:20px 0;
	border:3px solid #F7A400;
}
.author-name h4 {
	font-size:18px;
	color:#f7a300;
	margin:0;
}
.author-text p {
	padding:0;
	color:#7D7D7D
}
.recent-area {
	width:100%;
	overflow:hidden;
	margin-top:50px;
	margin-left:63px;
}
.recent-title {
	height:50px;
	width:300px;
	border:1px solid #E1E1E1;
	margin:20px 0;
	text-transform:uppercase;
	font-weight:bold;
}
.recent-title i {
	color:#F8A300;
	font-size:20px;
	margin-right:10px;
	text-transform:uppercase;
	padding: 15px 0 0 40px;
}
.single-recent {
	display:block;
	overflow:hidden;
	margin-top:20px;
}
.img {
	float:left;
	overflow:hidden;
	margin:0;
	padding:0;
}
.img img {
	height:80px;
	width:100px;
	margin:8px 20px 0 0;
	padding:0;
}
.single-content p {
	margin:0;
	padding:0;
	font-size:12px;
	color:#7D7D7D;
	line-height:25px;
	font-weight:bold;
}
.single-content span {
	color:#C7C7C7;
}
.popular-area {
	width:100%;
	overflow:hidden;
	margin-left: 63px;
}
.popular-title {
	height:50px;
	width:300px;
	border:1px solid #E1E1E1;
	margin:20px 0;
	text-transform:uppercase;
	font-weight:bold;
}
.popular-title i {
	color:#F8A300;
	font-size:20px;
	margin-right:10px;
	text-transform:uppercase;
	padding: 15px 0 0 40px;
}
.single-popular {
	display:block;
	overflow:hidden;
	margin-top:20px;
}
.img {
	float:left;
	overflow:hidden;
	margin:0;
	padding:0;
}
.img img {
	height:80px;
	width:100px;
	margin:8px 20px 0 0;
	padding:0;
}
.popular-content p {
	margin:0;
	padding:0;
	font-size:12px;
	color:#7D7D7D;
	line-height:25px;
	font-weight:bold;
}
.popular-content span {
	color:#C7C7C7;
}
.recent-sidebar {
	width:30%;
	float:right;
}
.recent-comments{
	width:100%;
	overflow:hidden;
	margin-left: 63px;
}
.comment-title {
	height:50px;
	width:300px;
	border:1px solid #E1E1E1;
	margin:0;
	text-transform:uppercase;
	font-weight:bold;
	margin-top: 30px;
}
.comment-title i {
	color:#F8A300;
	font-size:20px;
	margin-right:10px;
	text-transform:uppercase;
	padding: 15px 0 0 40px;
}
.single-comment {
	display:block;
	overflow:hidden;
	margin-top:20px;
}
.comment-image {
	float:left;
	overflow:hidden;
	margin:0;
	padding:0;
}
.comment-image img {
	height:80px;
	width:100px;
	margin:8px 15px 0 0;
	padding:0;
	border:1px solid #E1E1E1;
}
.comment-content p {
	margin:0;
	padding:0;
	font-size:12px;
	color:#7D7D7D;
	line-height:25px;
	text-align:left;
	text-transform:uppercase;
}
.comment-content span {
	color:#C7C7C7;
	text-transform:lowercase;
}
.tweets{
	width:100%;
	overflow:hidden;
	margin-top:70px;
	margin-left: 63px;
}
.tweets-title {
	height:50px;
	width:300px;
	border:1px solid #E1E1E1;
	margin:0;
	text-transform:uppercase;
	font-weight:bold;
}
.tweets-title i {
	color:#F8A300;
	font-size:20px;
	text-transform:uppercase;
	padding: 15px 0 0 40px;
	margin-right:10px;
}
.single-tweet {
	display:block;
	overflow:hidden;
	margin-top:20px;
}
.tweet-image {
	float:left;
	overflow:hidden;
	margin:0;
	padding:0;
}
.tweet-image img {
	height:80px;
	width:100px;
	margin:8px 15px 0 0;
	padding:0;
	border:1px solid #E1E1E1;
}
.tweet-content p {
	margin:0;
	padding:0;
	font-size:12px;
	color:#7D7D7D;
	line-height:25px;
	text-align:left;
	text-transform:uppercase;
}
.tweet-content a {
	color:#C7C7C7;
	text-transform:lowercase;
	text-decoration:underline;
	font-size:14px;
	font-style:italic;
}
.tweet-content a:hover{
	color:#F7A400;
}
.tags{
	width:100%;
	overflow:hidden;
	margin-top:50px;
	margin-left: 63px;
}
.tag-title {
	height:50px;
	width:300px;
	border:1px solid #E1E1E1;
	text-transform:uppercase;
	font-weight:bold;
}
.tag-title i {
	color:#F8A300;
	font-size:20px;
	text-transform:uppercase;
	padding: 15px 0 0 40px;
	margin-right:10px;
}
.all-tags {
	margin-top:30px;
}
.all-tags a{
	text-decoration:none;
	color:#C6C6C6;
	display:inline-block;
	padding:4px 5px;
}
.all-tags button {
	padding:12px 10px;
	border:1px solid #E1E1E1;
	font-size:14px;
	text-transform:uppercase;
	text-align:justify;
}
.all-tags button:hover {
	background:#F7A400;
	cursor:pointer;
}
.advertising{
	width:100%;
	overflow:hidden;
	margin-top:70px;
	margin-left: 63px;
}
.advertising-title {
	height:50px;
	width:300px;
	border:1px solid #E1E1E1;
	margin:0;
	text-transform:uppercase;
	font-weight:bold;
}
.advertising-title i {
	color:#F8A300;
	font-size:20px;
	text-transform:uppercase;
	padding: 15px 0 0 40px;
	margin-right:10px;
}
.advertising-text {
	border: 1px solid #E1E1E1;
	height: 600px;
	width: 300px;
	background:#EBEBEB;
	margin-top:20px;
}
.advertising-text p {
	color: #B4B4B4;
	padding: 20px;
	margin-top: 250px;
	text-align: center;
	font-size: 30px;
}